<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="edbcad">  <td>21/01/29 19:29:53</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;LoginSetup.LaunchBrowser()[pri:0, instance:People_Scripts.Person_Creation@1e0b4072]">&gt;&gt;LaunchBrowser</td> 
<td>&nbsp;</td>  <td>main@335708295</td>   <td></td> </tr>
<tr bgcolor="edbcad">  <td>21/01/29 19:32:57</td>   <td>183487</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;LoginSetup.LogOut(org.testng.ITestResult)[pri:0, instance:People_Scripts.Person_Creation@1e0b4072]">&lt;&lt;LogOut</td> 
<td>&nbsp;</td>  <td>main@335708295</td>   <td></td> </tr>
<tr bgcolor="edbcad">  <td>21/01/29 19:35:39</td>   <td>345566</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;LoginSetup.Quit()[pri:0, instance:People_Scripts.Person_Creation@1e0b4072]">&lt;&lt;Quit</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@335708295</td>   <td></td> </tr>
<tr bgcolor="6e7eff">  <td>21/01/29 19:32:26</td>   <td>152411</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Person_Creation.person_Creation()[pri:0, instance:People_Scripts.Person_Creation@1e0b4072]">person_Creation</td> 
  <td>main@335708295</td>   <td></td> </tr>
</table>
