<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="836cb8">  <td>21/01/27 19:01:37</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;LoginSetup.LaunchBrowser()[pri:0, instance:approvalsScripts.approvalVerifyEntity@194bcebf]">&gt;&gt;LaunchBrowser</td> 
<td>&nbsp;</td>  <td>main@14183023</td>   <td></td> </tr>
<tr bgcolor="696781">  <td>21/01/27 19:03:43</td>   <td>125661</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="approvalVerifyEntity.demo()[pri:0, instance:approvalsScripts.approvalVerifyEntity@194bcebf]">demo</td> 
  <td>main@14183023</td>   <td></td> </tr>
<tr bgcolor="836cb8">  <td>21/01/27 19:03:43</td>   <td>125670</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;LoginSetup.LogOut(org.testng.ITestResult)[pri:0, instance:approvalsScripts.approvalVerifyEntity@194bcebf]">&lt;&lt;LogOut</td> 
<td>&nbsp;</td>  <td>main@14183023</td>   <td></td> </tr>
<tr bgcolor="836cb8">  <td>21/01/27 19:03:45</td>   <td>127399</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;LoginSetup.Quit()[pri:0, instance:approvalsScripts.approvalVerifyEntity@194bcebf]">&lt;&lt;Quit</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@14183023</td>   <td></td> </tr>
</table>
