<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="debc8c">  <td>21/01/29 18:06:59</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;LoginSetup.LaunchBrowser()[pri:0, instance:CRUD_Operation_Scripts.CreationOf_Category@64d7f7e0]">&gt;&gt;LaunchBrowser</td> 
<td>&nbsp;</td>  <td>main@1436664465</td>   <td></td> </tr>
<tr bgcolor="f4d588">  <td>21/01/29 18:09:32</td>   <td>152911</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CreationOf_Category.creationOf_Map()[pri:0, instance:CRUD_Operation_Scripts.CreationOf_Category@64d7f7e0]">creationOf_Map</td> 
  <td>main@1436664465</td>   <td></td> </tr>
<tr bgcolor="debc8c">  <td>21/01/29 18:14:52</td>   <td>473127</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;LoginSetup.LogOut(org.testng.ITestResult)[pri:0, instance:CRUD_Operation_Scripts.CreationOf_Category@64d7f7e0]">&lt;&lt;LogOut</td> 
<td>&nbsp;</td>  <td>main@1436664465</td>   <td></td> </tr>
<tr bgcolor="debc8c">  <td>21/01/29 18:14:54</td>   <td>474480</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;LoginSetup.Quit()[pri:0, instance:CRUD_Operation_Scripts.CreationOf_Category@64d7f7e0]">&lt;&lt;Quit</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1436664465</td>   <td></td> </tr>
</table>
